<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="header-cont">
        <h2 style="color: white" align = "center"><a href = "/search" style = "color: white">BBPriceOptimizer</a></p>
    </div>
    <div class = "container-fluid">


    <!-- Search box -->

    <form action="/search" style = "margin-bottom : 50px;">
        <input type="text" class="form-control" placeholder="Search" name="query" style="height: 75px; margin-top: 10px; font-size: 30px;">
    </form>

    <!-- list of products -->
    <% if (typeof productList !== 'undefined') { %>
      <% for (var i = 0; i < productList.length; i++) { %>
          <div class = "rows">
        <div class = "columns">
          <div  class="col-md-4" style="box-shadow: 0 0 4px #bababa; padding-top: 20px; border-radius: 4px; width: 32.333%; margin: 0.5%;">
        <a href="/product/<%= productList[i].skuId %>">

          <ul class="list-group list-group-flush" style="list-style: none;">
            <li class="center"> <img src= <%= productList[i].summary.media.primaryImage.url %> height="200" width="200">
                <span class="asdf"><%= productList[i].summary.names.short + " " + productList[i].skuId  %> </span>
            </li>
          </ul>

        </a>
    </div>
</div>
</div>
      <% } %>
    <% } %>


    <!-- jQuery Version 1.11.1 -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>


</div>
</body>

</html>
