<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <form id = "productSearchForm" action = "/" method = "get">
        <input placeholder="Product name" type = "text" name = "sizeNum" style="width: 25%;">
        <input name="searchButton" type="button" value="Search" >
      </form>
    </div>
  </body>
</html>
