
.asdf {
    display: block;
    height: 100px;
    width: 100%;
    max-width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    margin-left:  auto;
    margin-right: auto;

}
.center {
    text-align: center;
}
.header-cont {
    width:100%;
    position: absolute;
    top:0px;
    background: #003b64;
    height: 64px;
}
.link-styles{
    color: white;
    font-size: 20px;
}
